---
interface Props {
  callToAction: string;
}

const { callToAction } = Astro.props;
const imageURL = "365756584_224932963862058_3220272521464185308_n.jpg";
const bgStyle = { backgroundImage: `url('/images/${imageURL}')` };
const content = [
  {
    heading: "Store Address",
    info: "Jln.Pelem Raya, Glondong, Purwobinangun, Kec. Pakem, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55582",
  },
  {
    heading: "Email Address",
    info: "genstudio16@gmail.com",
  },
  {
    heading: "Phone Number",
    info:  "+62 81326607496",
  },
];
---

<footer
  class="bg-cover bg-no-repeat bg-gray-700 bg-blend-multiply "
  style={bgStyle}
>
  <div class="mx-auto max-w-screen-xl">
    <h1
      class="font-extrabold text-5xl yellowText tracking-wide uppercase italic p-36 max-w-xl"
    >
      {callToAction}
    </h1>
    <div class="yellowBG grid grid-cols-1 md:grid-cols-3">
      {
        content.map((item) => (
          <div class="p-12">
            <h1 class="uppercase text-2xl italic">{item.heading}</h1>
            <p>{item.info}</p><a href="wa.me/81326607496">Whatsapp</a>
          </div>
        ))
      }
    </div>
  </div>
</footer>
